* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    margin: 0;
}

ol.pokemons li img{
    border-style: none;
    max-width: 80%;
    height: 100px;
    align-self: flex-end;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li {
    margin: .5rem;
    padding: 1rem;
    background-color: #14A06F;
    color: #FFFFFF;
    border-radius: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
}